
@{
    ViewBag.Title = "Index";
}
<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <button value="To Site" class="btn btn-primary" style="width:200px;"> To LIEFERSPORT </button>
            </div>
            <div class="col-lg-4"></div>
            @*<div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">

                            <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                    </div>
                </form>
            </div>*@
        </div>
    </div>
</header>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-paper-plane m-auto text-primary"></i>
                    </div>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae orci vitae lectus faucibus suscipit et eget quam.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-compass m-auto text-primary"></i>
                    </div>
                    <h3>Nulla tristique lectus in ex mollis, a euismod augue condimentum.</h3>
                    <p class="lead mb-0">Nulla tristique lectus in ex mollis, a euismod augue condimentum. Sed lobortis, ante a dapibus congue, felis nunc eleifend est, a tempor eros dolor non nisl.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-basket m-auto text-primary"></i>
                    </div>
                    <h3>Praesent tempus pellentesque leo, eu pulvinar diam porttitor a. </h3>
                    <p class="lead mb-0">Praesent tempus pellentesque leo, eu pulvinar diam porttitor a. In tellus orci, commodo a sapien euismod, tincidunt sodales sapien.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae orci vitae lectus faucibus suscipit et eget quam. Ut blandit efficitur massa, ac auctor ligula consectetur in. Nam luctus magna a orci scelerisque tristique. Proin varius quam a dui tristique aliquam vel non risus. Nam commodo lectus eget enim hendrerit volutpat at vitae massa. Suspendisse maximus sed dui ut accumsan. Nullam non sodales quam. Cras ante orci, bibendum vitae consectetur dapibus, egestas eget dui. Aenean dictum lobortis nibh, et dictum orci. Maecenas mollis sapien erat, sed sagittis mauris consectetur a.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Nulla tristique lectus in ex mollis, a euismod augue condimentum.</h2>
                <p class="lead mb-0">Nulla tristique lectus in ex mollis, a euismod augue condimentum. Sed lobortis, ante a dapibus congue, felis nunc eleifend est, a tempor eros dolor non nisl. Phasellus sed luctus arcu. Aenean augue lorem, convallis sit amet sapien in, faucibus sagittis mauris. Ut ullamcorper metus in est pellentesque, sed rhoncus diam fermentum. Nullam facilisis metus nec dui finibus pharetra. Quisque feugiat mauris in nulla ultricies, sed auctor nisi ultrices.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Praesent tempus pellentesque leo, eu pulvinar diam porttitor a.  &amp; Customize</h2>
                <p class="lead mb-0">Praesent tempus pellentesque leo, eu pulvinar diam porttitor a. In tellus orci, commodo a sapien euismod, tincidunt sodales sapien. Duis cursus urna nulla, sit amet elementum ex maximus non. Nulla sit amet dolor tincidunt, vestibulum mi et, elementum nulla. Nunc eget imperdiet sem. Morbi hendrerit felis eget accumsan ornare. Suspendisse potenti. Donec non enim ex. Suspendisse euismod ex eleifend, laoreet est non, iaculis magna. Praesent ut pharetra lacus, in porta dolor. Etiam sit amet dui tristique neque faucibus suscipit. Mauris vehicula elit eu justo laoreet consequat. Vivamus mollis dui a velit aliquet tincidunt. Nam suscipit felis augue, eget dapibus ex dapibus nec. Nullam nec velit nisi.</p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="nwt-test-imotions img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
                    <h5>Fric E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="nwt-test-imotions img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="nwt-test-imotions img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
                    <h5>Gans W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
